<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/nav.ejs') %>
  <div class='wrapper'>
  <h1>Houses</h1>
  <h2><%= house %></h2>
  <p><%= words %></p>
  <h3>Characters</h3>
  <ul>
    <% characters.forEach(character => { %>
      <li><%= character %></li>
    <% }) %>
  </ul>
</div>
</body>
</html>